.profile__name {
  max-width: 294px;
  color: white;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0 18px 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 920px) {
  .profile__name {
    max-width: 190px;
    font-size: 27px;
    line-height: 1.21;
    margin: 0 10px 0 0;
    padding-left: 23px;
  }
}
