.popup__container {
    position: relative;
    align-self: center;
    width: 430px;
    margin: 0 auto;
  }

  @media screen and (max-width: 560px) {
    .popup__container {
      width: 282px;
      padding: 26px 22px;
    }
  }