.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url("../../../images/Close_button.svg");
    background-color: transparent;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: ease-in-out .335s;
  }
  .popup__close:hover {
    opacity: .6;
  }
  .popup__close:focus {
    outline: none;
  }
  
  @media (max-width: 768px) {
    .popup__close {
      right: 0;
      width: 20px;
      height: 20px;
    }
  }