.popup__header {
    margin: 0 0 54px 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: #000000;
  }

  @media screen and (max-width: 560px) {
    .popup__header {
      margin: 0 0 75px 0;
      font-size: 18px;
      line-height: 22px;
      width: 100%;
    }
  }