.profile__container-avatar {
  position: relative;
  margin: auto;
  border-radius: 50%;
}

.profile__container-avatar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
