.elements__delete {
    display: block;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 18px;
    right: 15px;
    background-color: transparent;
    background-image: url("/images/Trash.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
  }
  .elements__delete:hover {
    opacity: .6;
  }