.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s linear, opacity .3s linear;
}

@media screen and (max-width: 600px) {
  .popup {
    padding: 0 19px;
  }
}
